<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='asset/warning.png') }}" />
        <title>{{title}}</title>
    </head>
    <body>
        <div id="content" class="m-2">
            {{local_ip}}  -  <strong>{{email}}</strong> | 
            <a href="/" class="btn btn-outline-info btn-sm" role="button">Home</a>
            <a href="/listwatch" class="btn btn-outline-info btn-sm" role="button">Listwatch</a>
            <a href="/signal" class="btn btn-outline-info btn-sm" role="button">Signal</a>
            <a href="/test" class="btn btn-outline-dark btn-sm" role="button">TEST</a>
            <a href="/logout" class="btn btn-outline-danger btn-sm" role="button">Logout</a>
            
            <hr>
        
            {% block content %}{% endblock %}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
</html>