{% extends "base.html" %}
{% block content %}
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Asset name</th>
            <th>Last price</th>
            <th>Entry price</th>
            <th>Target</th>
            <th>tozihat</th>
        </tr>
        {% for i in row %}
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                <td>{{i[4]}}</td>
                <td>{{i[5]}}</td>
            </tr>    
        {% endfor %}
    </table>
{% endblock %}