<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        input{font-size: 50px;margin: 15px;}
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;" >
        <form action="/login" method="POST">
            <input name="username" ><br>
            <input name="password" type="password"><br>
            <input type="submit" name="submit" >
            </form>
    </div>
</body>
</html>